.chatbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-show {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  padding: 0 20px;
  flex: 1;
}

.chat-write {
  padding: 10px;
  height: 80px;
  display: flex;
  align-items: center;
}
