#root {
  margin: 0 auto;
  text-align: center;
}

.chatbox {
  border: 2px solid white;
  border-radius: 10px;
  width: 50vw;
  height: 60%;
}

.chat-show {
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  padding: 20px;
  flex: 1;
}

.message-box {
  border-radius: 28px;
  max-width: 40%;
  padding: 10px 15px;
  clear: both;
  text-align: start;
}

.message-left {
  align-self: flex-start;
  background-color: #6a3318;
  margin-right: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.message-right {
  align-self: flex-end;
  color: white;
  background-color: #19497c;
  margin-left: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chat-write {
  height: 50px;
  border-top: 2px solid white;
  padding: 10px;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
}

.send-message-input {
  font-size: 16px;
  flex: 1;
  height: 40px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  margin-right: 10px;
}

.send-message-input:focus {
  border-radius: 25px;
  border: 1px solid #084ab5;
}

.send-message-submit {
  height: 40px;
  padding: 0 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.send-message-submit:hover {
  background-color: #0056b3;
}
